body {
    background-color:beige;
    margin: 20px;
}

h1 {
    text-align: center;
    margin: 40px;
}

h3 {
    margin-left: 20px;
}

.question-body {
    margin: 40px;
}

.table {
    
    border: 1px;
}

.login-register {
    margin: 20px;
}

.welcome-message {
    text-align: center;
}

.buttons-row {
    display: flex;
}

.tag-list {
    display: block;
}

input {
    margin: 10px;
}

