{% extends "layout.html" %}
    {% block content%}

    <head>
        <link rel="stylesheet" href="/static/style.css">
    </head>

    <body>
        <center>
            <h1>Add Answer</h1>
            <br><br>
            <form action="" method="POST">
                <label>Your Answer:</label> 
                <input type="text" name="answer"/> <br><br>
                <input type="submit" value="Submit"/> 
            </form>
            <br>
            <a href="/list">Back to question list</a>
        </center>
    </body>

    {% endblock %}