{% extends "layout.html" %}
    {% block content %}

    <head>
        <link rel="stylesheet" href="/static/style.css">
    </head>

    <body>
        <h1>Edit Answer</h1>
        <form action="" method="POST">
            <br>
            <label>Answer:</label>
            <input type="text" name="message" value="{{message}}"/> <br>
            <input type="submit" value="Submit"/> 
        </form>
        <br>
        <a href="/list">Back to question list</a>
    </body>

    {% endblock %}
