{% extends "layout.html" %}
    {% block content%}

    <body>
      <br/>
        <h1>Questions List</h1>
        <br><br>
        <table class="table" style="width:100%" border="1">
            <tr>
                <th> ID </th>
                <th> Submission Time <a href="/list?order_by=submission_time&order_direction=asc">&#129045;</a> <a href="/list?order_by=submission_time&order_direction=desc">&#129047;</a></th>
                <th> View Number <a href="/list?order_by=view_number&order_direction=asc">&#129045;</a> <a href="/list?order_by=view_number&order_direction=desc">&#129047;</a> </th>
                <th> Vote Number <a href="/list?order_by=vote_number&order_direction=asc">&#129045;</a> <a href="/list?order_by=vote_number&order_direction=desc">&#129047;</a></th>
                <th> Title  <a href="/list?order_by=title&order_direction=asc">&#129045;</a> <a href="/list?order_by=title&order_direction=desc">&#129047;</a> </th>
                <th> Message  <a href="/list?order_by=message&order_direction=asc">&#129045;</a> <a href="/list?order_by=message&order_direction=desc">&#129047;</a> </th>
                <th> Image </th>
              </tr>

            {% for question in questions %}
           
            <tr>
              <th> {{ loop.index0 + 1}} </th>
              <th> {{ question.submission_time }} </th>
              <th> {{ question.view_number }} </th>
              <th> {{ question.vote_number }} 
                <a href="/question/{{question.id}}/vote-up" style="text-decoration: none" > + </a> 
                <a href="/question/{{question.id}}/vote-down" style="text-decoration: none" > - </a> 
              </th>

              <th> <a href="/question/{{question.id}}"> {{ question.title }} </a></th>
              <th> {{ question.message }} </th>
              <th> {{ question.image }} </th>
            </tr>
            
            {% endfor %}
        </table>
        <br><br>
        {% if session.user_name %}
        <a href="/add-question" class="btn btn-secondary btn-lg active">Add question</a>
        {% endif %}
        <br><br>
        <a href="/">Back to main page</a>
    </body>
    {% endblock %}